* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    margin:0; 
    padding: 0; 
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #111;
  }
  h1 {
    text-align: center;
    margin: 1.25rem 0 0.25rem 0;
  }

/* route card wrap */
.route-card-wrap{
  background-color:#f5eded;
  display: flex;
  justify-content: center;
  padding: 10px; 
  gap:20px; 
  max-width: 800px;
  position: relative;
  margin:0 auto; 
}

.route-card-grade{
  display:flex;
  justify-content: center; 
  align-self: center;
  background-color: black;
  color:white;
  font-size:1.5rem;
  border-radius: 200px;
  flex-basis: 60px;
  padding: 15px 0;
}

.route-card-detail{
  display:flex;
  margin-top:5px;
  gap: 20px; 
}

/* button wrap */

.button-wrap{
  display: flex;
  max-width: 800px;
  justify-content: space-between;
  position: relative;
  margin:30px auto;

}

button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 40px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight:800;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #333;
}

button:active {
  background-color: #555;
  transform: scale(0.95);
}


/* beta bar */
.beta-wrap{
    position: relative;
    display:flex;
    max-width: 800px;
    margin:40px auto;
    justify-content: space-between;
    align-items: center;
}

/* video part */
.video-wrap {
    display: flex;
    display:none;
    width: 100%;
    height: 400px; /* Set player height to 800px */
    max-width: 800px; /* Optional: limit max width on large screens */
    background-color: black;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

video {
    width: 100%; /* Make video fill the full width of the player */
    height: 100%; /* Set the height to fill the container */
    object-fit: contain; /* Ensures video maintains aspect ratio and fits inside the container */
}


/* no video show image */

.video-image-wrap{
  display:none;
  height:400px;
  max-width:800px;
  position: relative;
  margin:20px auto; 

}

.no-video-image{
  height:100%;
  width:100%;
}

.video-wrap.show {
  display: block; /* Show video if available */
}

.video-image-wrap.show {
  display: block; /* Show image if no video */
}


  /* user card */

.done-list-wrap{
    max-width: 800px;
    margin:60px auto;

}  

.done-list-title{
  margin-bottom: 20px;
}
.user-card-wrap{
    background-color: transparent;
    border: 1px solid;
    border-radius: 16px; 
    display:flex;
    padding:10px 20px;
    gap:20px;
    margin:24px 0; 
}


.user-card-grade{
    display:flex;
    justify-content: center; 
    align-self: center;
    background-color: rgb(255, 196, 251);
    font-size:1.5rem;
    border-radius: 200px;
    flex-basis: 60px;
    padding: 16px 0;
}

.user-card-info{
  display:flex;
  gap:15px;
}

.user-personal-data{
  margin-top:5px;
  display:flex;
  gap:15px;
}
.user-card-detail{
    margin-top:5px;
}



/* Add this to your CSS file */
.spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:100;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
