<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/achievement.css">
    <title>Achievements</title>
</head>
<body>
    <div class="nav-bar">
        <div class="nav-logo-wrap">
          <a href="/">  
            <img class="nav-logo" src="/static/images/logo.png" height="60px">
          </a>
        </div>
        <div class="nav-dropdown-wrap">
            <div class="dropdown">
                <button class="dropbtn"><img src="/static/images/User.svg"></button>
                <div class="dropdown-content">
                </div>
              </div>
        </div>        
    </div>  

    <div class="personal-info-wrap">
        <!-- Existing personal info content -->
    </div>

    <div class="achievements-title"><h2>My Achievements</h2></div>
    <div id="achievements-container" class="achievements-wrap">
        <!-- Achievement Cards will be injected here -->
    </div>

    <script src="/static/achievement.js">

    </script>
</body>
</html>
