<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/popupbox.css">
    <title>Home</title>

</head>
<body>

    <div id="myPopup" class="popup">
        <div class="popup-content">
                <div class="popup-title">
                    <h1 class="guide-title">User Guide</h1>
                </div>
                <hr class="title-content-sep">
                <div class="guide-type">
                    <h2 class="ex-title">Loggin explain</h2>
                    <div class="log-exp-wrap">
                        <p class="log-type">Save:</p>
                        <p class="log-ex">Save a route in your to do list to help you keep track of your projects.</p>
                    </div>
                    <div class="log-exp-wrap">
                        <p class="log-type">Flash:</p>
                        <p class="log-ex">You finished the route on your first try.</p>
                    </div>
                    <div class="log-exp-wrap">
                        <p class="log-type">Done:</p>
                        <p class="log-ex">You successfully climbed the route with multiple tries.</p>
                    </div>
                </div>
                <div class="guide-q">
                    <h2 class="ex-title">Frequently asked questions</h2>
                    <p class="guide-ask">Q: I saved a route, where do I see it?</p>
                    <p class="guide-ans">A: Check out my page, where you can find a list of routes you saved.</p>
    
                    <p class="guide-ask">Q: Oops I accidentally clicked the flash/done button, can I undo it?</p>
                    <p class="guide-ans">A: Yes! You can undo this record at your achievements page.</p>
                </div>
    

                <button id="closePopup">
                    Got it!
                </button>
        </div>
    </div>


    <div class="nav-bar">
        <div class="nav-logo-wrap">
          <a href="/">  
            <img class="nav-logo" src="/static/images/logo.png" height="60px">
          </a>
        </div>
        <div class="nav-dropdown-wrap">
            <div class="dropdown">
                <button class="dropbtn"><img src="/static/images/User.svg"></button>
                <div class="dropdown-content">
                  <!-- <a href="#">My Page</a>
                  <a href="#">Log out</a> -->
                </div>
              </div>
        </div>        
    </div>        
    <div class="chart-title">Available Routes and Grades</div>
    <div class="chart-wrap">
        <canvas id="myChart"></canvas>
    </div>

    <div class="search-wrap">
        <input type="search" class="route-search" placeholder="Search...">
        <button type="submit" class="route-submit-btn"> 
            <img src="/static/images/search.svg" /> 
        </button>
    </div>    
    <div class="cards-wrap">
        <!-- <div class="card-wrap">
            <div class="card-grade"><div>V5</div></div>
            <div class="card-name">
                <p>1 The Easy Route</p>
                <div class="card-detail">
                    <p>4 days ago</p>
                    <p><img src="/static/images/tick.svg">20</p>
                </div>

            </div>
        </div> -->

    </div>    

    <div class="footer"></div>
       




<script src="/static/js/index.js"></script> 
<script src="/static/js/nav.js"></script>

</body>
</html>