<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/static/index.css" />
    <title>Home</title>

</head>
<body>


    <div class="nav-bar">
        <div class="nav-logo-wrap">
          <a href="/">  
            <img class="nav-logo" src="/static/images/logo-black-white.svg" height="60px">
          </a>
        </div>
        <div class="nav-dropdown-wrap">
            <div class="dropdown">
                <button class="dropbtn"><img src="/static/images/User.svg"></button>
                <div class="dropdown-content">
                  <!-- <a href="#">My Page</a>
                  <a href="#">Log out</a> -->
                </div>
              </div>
        </div>        
    </div>        

    <div class="chart-wrap">
        <canvas id="myChart"></canvas>
    </div>

    <div class="search-wrap">
        <input type="search" class="route-search" placeholder="Search...">
        <button type="submit" class="route-submit-btn"> 
            <img src="/static/images/search.svg" /> 
        </button>
    </div>    
    <div class="cards-wrap">
        <!-- <div class="card-wrap">
            <div class="card-grade"><div>V5</div></div>
            <div class="card-name">
                <p>1 The Easy Route</p>
                <div class="card-detail">
                    <p>4 days ago</p>
                    <p><img src="/static/images/tick.svg">20</p>
                </div>

            </div>
        </div> -->

    </div>    

    <div class="footer"></div>
       




<script src="/static/index.js"></script> 
<script>
window.onload = function checkSigninStatus() {
    const token = localStorage.getItem("token");
    let content="";
    const dropdownContent=document.querySelector(".dropdown-content");
  
    if (token) {
      fetch("/api/user/auth", {
        method: "GET",
        headers: { Authorization: `Bearer ${token}` },
      })
        .then((resp) => {
          if (!resp.ok) {
            return resp.json().then((data) => {
              throw new Error(`HTTP error! Status: ${resp.status}, Message: ${data.detail}`);
            });
          }
          return resp.json();
        })
        .then((data) => {
          console.log("Fetch successful:", data);
          // Dispatch the userSignedIn event only if the user is successfully authenticated
          document.dispatchEvent(new CustomEvent('userSignedIn', { detail: data.data.name }));
          content +=`
                <a href="#">My Page</a>
                <a href="#" onclick="deleteToken(); return false;">Log out</a>
          `  
          dropdownContent.innerHTML += content;
        })
        .catch((err) => {
          console.error("Error:", err.message);
        });
    } else {
      console.error("Token not found");
      content +=`
                <a href="/signin">Sign in</a>
                <a href="/register">Sign up</a>

          `  
          dropdownContent.innerHTML += content;
    }
  };

  function deleteToken() {
    let token = localStorage.removeItem("token");
    console.log("user signed out");
    window.location.reload();
    return token;
  }
</script>

</body>
</html>