<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/member.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Member Page</title>
</head>
<body>
    <div class="nav-bar">
        <div class="nav-logo-wrap">
          <a href="/">  
            <img class="nav-logo" src="/static/images/logo.png" height="60px">
          </a>
        </div>
        <div class="nav-dropdown-wrap">
            <div class="dropdown">
                <button class="dropbtn"><img src="/static/images/User.svg"></button>
                <div class="dropdown-content">
                  <!-- <a href="#">My Page</a>
                  <a href="#">Log out</a> -->
                </div>
              </div>
        </div>        
    </div>  

    <div class="personal-info-wrap">
        <!-- <div class="personal-image-wrap">
            <div class="personal-image">D</div>
        </div>
        <div class="personal-info">
            <div class="personal-name"><h2>Danger Zhang</h2></div>
            <div class="personal-data">
                <p>176 cm</p>
                <p>V7</p>
                <p>Male</p>
            </div>
            <div class="personal-number">
                <p>Flash 100</p>
                <p>Done 200</p>
            </div>
        </div> -->

    </div>

    <div class="save-title"><h2>Saved Route</h2></div>
    <div class="all-cards-wrap">
        <div class="todo-card-wrap">
            <!-- <h2 class="saved-route">Saved Route</h2> -->
            <!-- route card -->

            <!-- <div class="card-wrap">
                <div class="card-grade"><div>V5</div></div>
                <div class="card-name">
                    <p>1 The Easy Route </p>
                    <div class="card-detail">
                        <p>4 days left</p>
                    </div>  
                </div>
                 <div class="card-btn-wrap">
                    <button id="route-flash-btn">Flash</button>
                    <button id="route-done-btn">Done</button>
                    <button><img src="/static/images/cross.svg"></button>
                </div>  
            </div> -->


        </div>

    </div>
    <div class="record-title"><h2>My Record</h2></div>

    <div class="wrapper">
        <div class="chart-wrap">
            <div class="month-chart-wrap">
                <canvas id="monthChart" height="300"></canvas>
            </div>
            <div class="three-month-chart-wrap">
                <canvas id="threeMonthChart" height="300"></canvas>
            </div>
        </div>
    </div>

    </div>
    <script src="/static/member.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script>


    </script>
</body>
</html>