<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In form</title>
  <link rel="stylesheet" href="/static/css/register.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <body>
        <div class="container">
             <header>Sign In</header>

            <div class="form-outer">
                <form action="#">


                    <div class="page">
                        <!-- <div class="title">Personal Details:</div> -->
                        <div class="field">
                            <div class="label">Email</div>
                            <input id="email" type="email" required />
                        </div>
                        <div class="field">
                            <div  class="label">Password</div>
                            <input id="password" type="password" required />
                        </div>
                        <div class="field btns">
                            <button class="submit">Submit</button>
                        </div>
                        <p>Don't have an account yet?</p>
                        <p>Sign up <a href="/register">here</a></p>
                    </div>

                </form>
            </div>
        </div>
        <script src="/static/js/signin.js">
        </script>
    </body>
</html>
