<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Multistep form</title>
  <link rel="stylesheet" href="/static/register.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <body>
        <div class="container">
             <header>Sign In</header>

            <div class="form-outer">
                <form action="#">


                    <div class="page">
                        <!-- <div class="title">Personal Details:</div> -->
                        <div class="field">
                            <div class="label">Email</div>
                            <input id="email" type="email" required />
                        </div>
                        <div class="field">
                            <div  class="label">Password</div>
                            <input id="password" type="password" required />
                        </div>
                        <div class="field btns">
                            <button class="submit">Submit</button>
                        </div>
                        <p>Don't have an account yet?</p>
                        <p>Sign up <a href="/register">here</a></p>
                    </div>

                </form>
            </div>
        </div>
        <script src="/static/signin.js">
// const submitBtn = document.querySelector(".submit");
// const emailInput = document.getElementById("email");
// const passwordInput = document.getElementById("password");

// function isValidEmail(email) {
//     const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
//     return regex.test(email);
// }

// submitBtn.addEventListener("click", function(event) {
//     event.preventDefault();

//     // Check if both fields are filled
//     if (emailInput.value.trim() === "" || passwordInput.value.trim() === "") {
//         console.error("Please fill in all fields.");
//         return; 
//     }

//     // Validate the email format
//     if (!isValidEmail(emailInput.value.trim())) {
//         console.error("Invalid email format.");
//         return; 
//     }

//     var emailSign = emailInput.value.trim();
//     var passwordSign = passwordInput.value.trim();

//     const authUrl = "/api/user/auth";
//     fetch(authUrl, {
//         method: "PUT",
//         headers: {
//             "Content-Type": "application/json",
//         },
//         body: JSON.stringify({
//             email: emailSign,
//             password: passwordSign,
//         }),
//     })
//     .then((response) => response.json())
//     .then((data) => {
//         if (data.token) {
//             let JWTtoken = data.token;
//             console.log(JWTtoken);
//             localStorage.setItem("token", JWTtoken);
//             console.log("Login successful!");
//             // signInResult.innerText = "Login successful!";
//             // window.location.reload();
//         } else {
//             console.log(data.message);
//             // signInResult.innerText = data.message;
//         }
//     })
//     .catch((err) => {
//         console.error("Error:", err);
//     });
// });
        </script>
    </body>
</html>
